<!DOCTYPE html>
<html>
	<head>
		<link href="./style.css" rel="stylesheet">
	</head>
	<body>
		<header>
			<div class="ogranicznik">
				<div>
					<h1>
						<a href="./index.html">
							<img src="../logo.png" alt="">
							<img src="../logo-hover.png" alt="" class="hover">
							<img src="../logo-active.png" alt="" class="active">
							<span>
								Nailspo
							</span>
						</a>
					</h1>
					<p>
						Dream It, Nail It
					</p>
				</div>
			</div>
		</header>
		<main>
			<div class="ogranicznik">
			</div>
		</main>
		<footer>
			<div class="ogranicznik">
				<p>Strona stworzona przez Adriannę Szalę, Laurę Thompson, Marię Drozd.</p>
			</div>
		</footer>
	</body>
</html>
